body{
    background:black;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto;
    font-family: 'VT323', monospace;
}

h1, h2, h3, p{
    font-family: 'VT323', monospace;
}

p{
    font-size: 32px;
    margin: 0;
}

svg{
    
    height: 50px;
    width: 50px;
}

svg:hover{
    cursor: pointer;
}

#top{
    background: url('./dr-mario-background.jpg') no-repeat;
    height: 551px;
    width: 692px;
    background-position: center;
    background-size: cover;
    margin-top: calc((100vh - 551px)/2);
}

#grid{
    background: black;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(8, 21px);
    width: fit-content;
    margin-top: 10px;
    margin-left: 256px;
}

.hidden{
    display: none;
}

.virus{
    z-index: 2;
}

.floater{

    border-radius: 15px;
}

.grid-square-square{
    height: 21px;
    width: 21px;
    background: #111111;
}

.cornflowerblue{
    background: #0073ef;
}

.salmon{
    background: #e6005a;
}

.bisque{
    background: rgb(255, 230, 0);
}

.minHor{
    border-radius: 5px 0 0 5px;
}

.maxHor{
    border-radius: 0 5px 5px 0;
    
}

.minVer{
    border-radius: 5px 5px 0 0;
}

.maxVer{
    border-radius: 0 0 5px 5px;
}

#dr{
    height: 250px;
    vertical-align: top;
}

#hidden{
    display: none;
}

.prompt{
    color: white;
}

#spaceTo{
    align-self: center;
    margin-top: 10%;
    animation: blink-animation 1.3s steps(5, start) infinite;
    
}

#level-value{
    color: white;
}

#level-slider{
    width: 75%;
}

#level-value{
    width: 40px;
    margin-left: 20px;
    font-size: 24px;
}

#level-picker{
    margin: 0;
}
#level-picker-div{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#music-picker-div, #speed-picker-div, #level-picker-div{
    color: white;
    margin: auto;
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center
}

#music-picker-div h1, #speed-picker-div h1, #level-picker-div h1{
    width: 350px;
    color: #e6005a;
}

#music-picker-div input, #speed-picker-div input{
    margin: 0 20px;
}


.controls{
    color: white;
    margin: auto;
  
}

.controls:first-of-type{
    margin-top: 25px;
    margin-bottom: 10px;
}

.nextLevel{
    color: white;
}

#next-level-div{
    position: absolute;
    align-self: center;
    top: 360px;
    width: 100px;
}

#svg-links{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    flex-direction: column;
    position: absolute;
    right: calc((100vw - 692px)/4);
    top: 25vh;
    height:50vh;
}

#github-svg{
    fill: #0073ef
}

#linkedin-svg{
    fill: #e6005a;
}

#angellist-svg{
   fill: rgb(255, 230, 0);
}

#lvl{
    height: 15px;
    width: 89px;
    position: relative;
    left: 506px;
    top: 267px;
    padding: 2px;
    text-align: end;
    font-size: 48px;
}

#score {
    width: 102px;
    position: relative;
    left: 45px;
    top: 150px;
    padding: 3px;
    text-align: end;
    font-size: 48px;
}

#virus-count{
    height: 15px;
    width: 88px;
    position: relative;
    left: 506px;
    top: 360px;
    padding: 3px;
    text-align: end;
    font-size: 48px;
}

#speed{
    height: 15px;
    width: 88px;
    position: relative;
    left: 506px;
    top: 274px;
    padding: 3px;
    text-align: end;
    font-size: 48px;
}

#top-score{
    height: 15px;
    width: 102px;
    position: relative;
    left: 45px;
    top: 14px;
    padding: 3px;
    text-align: end;
    font-size: 48px;
}

#next-pill{
    position: relative;
    height: 21px;
    width: 42px;
    right: -523px;
    top: 182px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.pill-half{
    height: 21px;
    width: 21px;
}


@keyframes flash {
    0%   {color: white;}
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100% {color: white;}
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }