body{
    background:#111111;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto;
    font-family: 'VT323', monospace;
}

h1, h2, h3, p{
    font-family: 'VT323', monospace;
}

p{
    font-size: 32px;
    margin: 0;
}

svg{
    
    height: 50px;
    width: 50px;
}

svg:hover{
    cursor: pointer;
}

#top{
    background: url('./background.png') no-repeat;
    height: 350px;
    background-position: center;
    background-size: cover;
}

#grid{
    background: black;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(8, 15px);
    width: fit-content;
    margin: auto;
    margin-top: 60px;
}

.hidden{
    display: none;
}

.virus{
    z-index: 2;
}

.floater{

    border-radius: 15px;
}

.grid-square-square{
    height: 15px;
    width: 15px;
    background: #111111;
}

.cornflowerblue{
    background: #0073ef;
}

.salmon{
    background: #e6005a;
}

.bisque{
    background: rgb(255, 230, 0);
}

.minHor{
    border-radius: 5px 0 0 5px;
}

.maxHor{
    border-radius: 0 5px 5px 0;
    
}

.minVer{
    border-radius: 5px 5px 0 0;
}

.maxVer{
    border-radius: 0 0 5px 5px;
}

#dr{
    height: 250px;
    vertical-align: top;
}

#hidden{
    display: none;
}

.prompt{
    color: white;
}

#spaceTo{
    align-self: center;
    margin-top: 10%;
    animation: blink-animation 1.3s steps(5, start) infinite;
    
}

#level-value{
    color: white;
}

#level-slider{
    width: 75%;
}

#level-value{
    width: 40px;
    margin-left: 20px;
    font-size: 24px;
}

#level-picker{
    margin: 0;
}
#level-picker-div{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#music-picker-div, #speed-picker-div, #level-picker-div{
    color: white;
    margin: auto;
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center
}

#music-picker-div h1, #speed-picker-div h1, #level-picker-div h1{
    width: 350px;
    color: #e6005a;
}

#music-picker-div input, #speed-picker-div input{
    margin: 0 20px;
}


.controls{
    color: white;
    margin: auto;
  
}

.controls:first-of-type{
    margin-top: 25px;
    margin-bottom: 10px;
}

.nextLevel{
    color: white;
}

#next-level-div{
    position: absolute;
    align-self: center;
    top: 360px;
    width: 100px;
}

#svg-links{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}

#github-svg{
    fill: #0073ef
}

#linkedin-svg{
    fill: #e6005a;
}

#angellist-svg{
   fill: rgb(255, 230, 0);
}

#lvl{
    height: 15px;
    width: 89px;
    position: relative;
    background: #d7d7ff;
    left: 340px;
    top: 212px;
    padding: 2px;
    text-align: end;
    font-size: 28px;
}

#score {
    height: 15px;
    width: 102px;
    position: relative;
    background: #d7d7ff;
    left: 28px;
    top: 114px;
    padding: 3px;
    text-align: end;
    font-size: 28px;
}

#virus-count{
    height: 15px;
    width: 88px;
    position: relative;
    background: #d7d7ff;
    left: 340px;
    top: 262px;
    padding: 3px;
    text-align: end;
    font-size: 28px;
}

#speed{
    height: 15px;
    width: 88px;
    position: relative;
    background: #d7d7ff;
    left: 340px;
    top: 196px;
    padding: 3px;
    text-align: end;
    font-size: 28px;
}

#top-score{
    height: 15px;
    width: 102px;
    position: relative;
    background: #d7d7ff;
    left: 28px;
    top: 29px;
    padding: 3px;
    text-align: end;
    font-size: 28px;
}

@keyframes flash {
    0%   {color: white;}
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100% {color: white;}
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }